/* source-sans-pro-400normal - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Sans Pro Regular '),
    local('Source Sans Pro-Regular'),
    url('../../../typeface-source-sans-pro/files/source-sans-pro-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../typeface-source-sans-pro/files/source-sans-pro-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-400normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Serif Pro Regular '),
    local('Source Serif Pro-Regular'),
    url('../../../typeface-source-serif-pro/files/source-serif-pro-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../typeface-source-serif-pro/files/source-serif-pro-latin-400.woff') format('woff'); /* Modern Browsers */
}

body {
    font-family: 'Source Sans Pro', sans-serif !important
}

.sidebar-group-items {
    counter-reset: a

    > li:not(:first-child) > a::before {
        counter-increment: a
        content: 'Ch 'counter(a)': '
    }
}

.content > p {
    font-family: 'Source Serif Pro', serif

    &:first-of-type:first-letter {
        float: left
        line-height: 1
        font-size: 54px
        padding-right: 8px
    }
}

.home .hero .description {
    color lighten($textColor, 30%) !important
}
