<template>
  <figure class="fig">
    <div :class="ratio">
      <picture :title="`Illustration for chapter ${i}`" v-once>
        <template v-for="type in types">
          <source
            media="(min-width: 839px)"
            :srcset="`${path}${i}/1.${type},
                    ${path}${i}/1.5.${type} 1.5x,
                    ${path}${i}/2.${type} 2x`"
            :type="`image/${type}`"
          >
          <source
            media="(min-width: 720px)"
            :srcset="`${path}${i}/512.${type},
                    ${path}${i}/1.${type} 1.5x,
                    ${path}${i}/1.5.${type} 2x,
                    ${path}${i}/2.${type} 2.5x`"
            :type="`image/${type}`"
          >
          <source
            media="(min-width: 560px)"
            :srcset="`${path}${i}/1.${type},
                    ${path}${i}/1.5.${type} 1.5x,
                    ${path}${i}/2.${type} 2x`"
            :type="`image/${type}`"
          >
          <source
            media="(min-width: 419px)"
            :srcset="`${path}${i}/512.${type},
                    ${path}${i}/1.${type} 1.5x,
                    ${path}${i}/1.5.${type} 2x,
                    ${path}${i}/2.${type} 2.5x`"
            :type="`image/${type}`"
          >
          <source
            :srcset="`${path}${i}/512.${type},
                    ${path}${i}/1.${type} 2x,
                    ${path}${i}/1.5.${type} 3x,
                    ${path}${i}/2.${type} 3.5x`"
            :type="`image/${type}`"
          >
        </template>
        <img :src="`${path}${i}/1.jpg`" :alt="`Illustration for chapter ${i}`"
        >
      </picture>
    </div>
    <figcaption>
      Credit: <a :href="creditLink">{{ credit }}</a>
    </figcaption>
  </figure>
</template>

<script>
export default {
  props: ['i', 'credit', 'creditLink', 'ratio'],
  data () {
    return {
      path: '/strange-dreams/img/',
      types: ['webp', 'jpg'],
    }
  },
  computed: {
    plainCredit () {
      return `Credit: ${this.credit}`
    }
  }
}
</script>

<style lang="stylus">
.fig {
  margin: 1rem 0

  @media (max-width: 719px) {
    margin: 1rem -2rem
  }

  @media (max-width: 419px) {
    margin: 1rem -1.5rem
  }

  > div {
    position relative
  }

  > figcaption {
    margin-top: 10px
    text-align: center
  }

  img {
    position: absolute
    width: 100%
  }
}

._4x3 {
  padding-bottom: 75%
}
</style>
